env/
__pycache__/
.DS_Store
*.csv
eval_results/
eval_data/
*.egg-info/
.env
/results
trading_agents.db

*.log

dist
dist-ssr
*.local



# dependencies
front/node_modules
front/.pnp
front.pnp.js
front/.vscode

# testing
front/coverage

# next.js
front/.next/
front/out/

# production
front/build

# misc
front/.DS_Store
front/*.pem

# debug
front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*

# local env files
front/.env
front/.env.local
front/.env.development.local
front/.env.test.local
front/.env.production.local

# vercel
front/.vercel

back/*.db
back/*.db-wal
back/*.db-shm
back/docs_cache

